{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>
				{% if header.title %}
					{{ header.title|e('html') }}
					|
				{% endif %}
				{{ site.title|e('html') }}</title>
			{% include 'partials/metadata.html.twig' %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
			<link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
			<link rel="canonical" href="{{ page.url(true, true) }}"/>

			{% block stylesheets %}
				{% do assets.addCss('theme://css/style.css') %}
			{% endblock %}
			{{ assets.css() }}

		{% endblock head %}
	</head>
	<body id="top" class="{{ page.header.body_classes }}">
		{% block header %}
			<header id='header'>
				{% include 'partials/navigation.html.twig' %}
			</header>
		{% endblock %}

		{% block body %}
			<main id="main" class="{{ class }}">
				{% block content %}{% endblock %}
			</main>
		{% endblock %}

		{% block footer %}
			<footer id='site-footer'>
				<div id='footer-container' class='footer'>
					<div class='footer__section footer__section--copyright'>
						<span>©
							{{ 'now' | date('Y') }}
							| First Baptist Church of Massillon | (330) 832-1234</span>
					</div>
					<div class='footer__section footer__section--contact'>
						<ul class='footer__section__links social-links'>
							{% if config.site.facebook %}
								<li class='social-links__item'>
									<a href='{{config.site.facebook}}' target='_blank'>
										<i class='fab fa-facebook'></i>
									</a>
								</li>
							{% endif %}
							{% if config.site.instagram %}
								<li class='social-links__item'>
									<a href='{{config.site.instagram}}' target='_blank'>
										<i class='fab fa-instagram'></i>
									</a>
								</li>
							{% endif %}
							{% if config.site.youtube %}
								<li class='social-links__item'>
									<a href='{{config.site.youtube}}' target='_blank'>
										<i class='fab fa-youtube'></i>
									</a>
								</li>
							{% endif %}
							{% if config.site.email %}
								<li class='social-links__item'>
									<a href='mailto:{{config.site.email}}' target='_blank'>
										<i class='fas fa-at'></i>
									</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</footer>
		{% endblock %}
		{% block bottom %}
			{% do assets.addJs('theme://js/base.js', {'priority': 100, 'loading':'defer', 'group':'bottom'}) %}
		{% endblock %}
		{{assets.js('bottom')}}
	</body>
</html>
