{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>
				{% if header.title %}
					{{ header.title|e('html') }}
					|
				{% endif %}
				{{ site.title|e('html') }}</title>
			{% include 'partials/metadata.html.twig' %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
			<link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
			<link rel="canonical" href="{{ page.url(true, true) }}"/>

			{% block stylesheets %}
				{% do assets.addCss('theme://css/ilg_2021_theme.css') %}
			{% endblock %}

			{% block assets deferred %}
				{{assets.css()|raw}}
			{% endblock %}

		{% endblock head %}
	</head>
	<body id="top" class="{{ page.header.body_classes }}">
		{% block header %}
			{% include 'partials/header.html.twig' %}
		{% endblock %}

		{% block body %}
			<main id="main" class="{{ class }}">
				{% block content %}{% endblock %}
			</main>
		{% endblock %}

		{% block footer %}
			<footer id='site-footer'>
				<section id='upper-footer' class='container is-fullhd'>
					<div id='footer-disclaimer'>
						<h5>Disclaimer</h5>
						<p>
							The information contained on this website is for informational purposes only and is not intended to provide legal or other advice. Visitors to this site should consult legal counsel of their own choosing to determine how the information on this site relates to their individual circumstances and how to utilize the information, if at all. The views and opinions expressed by the
							{{ ilg_name }}
							({{ ilg_acronym }}) on this site do not necessarily reflect those of individual
							{{ ilg_acronym }}
							Board Members or their respective employers. This site contains links to other Websites.
							{{ ilg_acronym }}
							is not responsible for and did not contribute to the information or opinions expressed on those Websites.
						</p>
					</div>
					<div id='footer-contact'></div>
				</section>
				<section id='lower-footer' class='container is-fullhd'></section>
			</footer>
		{% endblock %}
		{% block bottom %}
			{% do assets.addJs('theme://js/base.js', {'priority': 100, 'loading':'defer', 'group':'bottom'}) %}
		{% endblock %}
		{{assets.js('bottom')}}
	</body>
</html>
