{% set is_full_or_half = page.header.hero_size == 'is-halfheight' or page.header.hero_size == 'is-fullheight' %}
{% set has_image = page.header.hero_image ? 'has-image' : '' %}
<section class="hero is-info {{page.header.hero_size}} {{has_image}}">
	{% if page.header.hero_image %}
		<div class='hero-image' style="background-image: url({{page.header.hero_image|first.path}});"></div>
	{% endif %}
	<div class="hero-body">
		{% if is_full_or_half %}
			<div class=''>
				<p class="title">
					{{ page.header.hero_title }}
				</p>
				<p class="subtitle">
					{{ page.header.hero_text}}
				</p>
			</div>
		{% else %}
			<p class="title">
				{{ page.header.hero_title }}
			</p>
			<p class="subtitle">
				{{ page.header.hero_text}}
			</p>
		{% endif %}
	</div>
</section>
