{% macro nav_item(p, level) %}
	{% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
	{% set next_level = level + 1 %}
	{% set page_target = p.redirect ? '_blank' : '_self' %}
	{% if p.children.visible.count > 0 and level < 1 %}
		<li class="navbar-item has-dropdown is-hoverable {{ current_page }}">
			<a href="{{ p.url }}" target="{{ page_target }}" class='navbar-link'>
				{{ p.menu }}
			</a>
			<ul class="navbar-dropdown is-right">
				{{ _self.loop(p, next_level) }}
			</ul>
		</li>
	{% else %}
		<li class="navbar-item {{ current_page }}">
			<a href="{{ p.url }}" target="{{ page_target }}">
				{{ p.menu }}
			</a>
		</li>
	{% endif %}
{% endmacro %}

{% macro loop(page, level) %}
	{% for p in page.children.visible %}
		{{ _self.nav_item(p, level) }}
	{% endfor %}
{% endmacro %}

<nav id='nav-menu' class='navbar-menu'>
	<ul id='nav-items' class='navbar-start'>
		{% for p in pages.children.visible %}
			{{ _self.nav_item(p, 0) }}
		{% endfor %}
	</ul>
</nav>
